<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:c="">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br/>
<br/>

<h3>СПИСОК ПОЛЬЗОВАТЕЛЕЙ</h3>
<table border="1">
    <tr>
        <th>№</th>
        <th>id</th>
        <th>логин</th>
        <th>имя</th>
        <th>фамилия</th>
        <th>возраст</th>
        <th>enabled</th>
        <th>roles</th>
        <th>операции</th>
    </tr>
    <th:block th:each="msg,state : ${userList}">
        <tr>

            <td th:utext="${state.index+1}">index</td>
            <td th:utext="${msg.getId()}">index</td>
            <td th:utext="${msg.getUsername()}">index</td>
            <td th:utext="${msg.getFirstname()}">index</td>
            <td th:utext="${msg.getLastname()}">index</td>
            <td th:utext="${msg.getAge()}">index</td>
            <td th:utext="${msg.isEnabled()}">index</td>
            <td th:utext="${msg.getRoles()}">index</td>
            <td>
                <form th:action="@{'updateUser/'+${msg.getId()}}">
                    <input type="submit" class="buttonEdit" value="обновить"/>
                </form>
            </td>
            <td>
                <form th:action="@{'deleteUser/'+${msg.getId()}}">
                    <input type="submit" class="buttonDelete" value="удалить"/>
                </form>
            </td>
        </tr>
    </th:block>
</table>
<br/>
<br/>
<input type="submit" value="добавить пользователя" onclick="window.location.href = 'addUser'"/>
<br/>
<br/>
<input type="submit" value="добавить роль" onclick="window.location.href = 'addRole'"/>
</body>
</html>